/JobHunterApi/*.rbc
/JobHunterApi/capybara-*.html
/JobHunterApi/.rspec
/JobHunterApi/db/*.sqlite3
/JobHunterApi/db/*.sqlite3-journal
/JobHunterApi/db/*.sqlite3-[0-9]*
/JobHunterApi/public/system
/JobHunterApi/coverage/
/JobHunterApi/spec/tmp
/JobHunterApi/*.orig
/JobHunterApi/rerun.txt
/JobHunterApi/pickle-email-*.html

# Ignore all logfiles and tempfiles.
/JobHunterApi/log/*
/JobHunterApi/tmp/*
/JobHunterApi!/log/.keep
/JobHunterApi!/tmp/.keep

# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
/JobHunterApi/config/initializers/secret_token.rb
/JobHunterApi/config/master.key

# Only include if you have production secrets in this file, which is no longer a Rails default
# config/secrets.yml

# dotenv, dotenv-rails
# TODO Comment out these rules if environment variables can be committed
/JobHunterApi.env
/JobHunterApi.env.*

## Environment normalization:
/JobHunterApi/.bundle
/JobHunterApi/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
/JobHunterApi/.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/JobHunterApi/vendor/assets/bower_components
/JobHunterApi/*.bowerrc
/JobHunterApi/bower.json

# Ignore pow environment settings
/JobHunterApi/.powenv

# Ignore Byebug command history file.
/JobHunterApi/.byebug_history

# Ignore node_modules
/JobHunterApi/node_modules/

# Ignore precompiled javascript packs
/JobHunterApi/public/packs
/JobHunterApi/public/packs-test
/JobHunterApi/public/assets

# Ignore yarn files
/JobHunterApi/yarn-error.log
/JobHunterApi/yarn-debug.log*
/JobHunterApi/.yarn-integrity

# Ignore uploaded files in development
/JobHunterApi/storage/*
/JobHunterApi/!/storage/.keep
/JobHunterApi/public/uploads

### END BACKEND ###


# Created by https://www.toptal.com/developers/gitignore/api/react,node
# Edit at https://www.toptal.com/developers/gitignore?templates=react,node

### Node ###
# Logs
/jobhunter-client/logs
/jobhunter-client/*.log
/jobhunter-client/npm-debug.log*
/jobhunter-client/yarn-debug.log*
/jobhunter-client/yarn-error.log*
/jobhunter-client/lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
/jobhunter-client/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
/jobhunter-client/pids
/jobhunter-client/*.pid
/jobhunter-client/*.seed
/jobhunter-client/*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
/jobhunter-client/lib-cov

# Coverage directory used by tools like istanbul
/jobhunter-client/coverage
/jobhunter-client/*.lcov

# nyc test coverage
/jobhunter-client/.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
/jobhunter-client/.grunt

# Bower dependency directory (https://bower.io/)
/jobhunter-client/bower_components

# node-waf configuration
/jobhunter-client/.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
/jobhunter-client/build/Release

# Dependency directories
/jobhunter-client/node_modules/
/jobhunter-client/jspm_packages/

# TypeScript v1 declaration files
/jobhunter-client/typings/

# TypeScript cache
/jobhunter-client/*.tsbuildinfo

# Optional npm cache directory
/jobhunter-client/.npm

# Optional eslint cache
/jobhunter-client/.eslintcache

# Optional stylelint cache
/jobhunter-client/.stylelintcache

# Microbundle cache
/jobhunter-client/.rpt2_cache/
/jobhunter-client/.rts2_cache_cjs/
/jobhunter-client/.rts2_cache_es/
/jobhunter-client/.rts2_cache_umd/

# Optional REPL history
/jobhunter-client/.node_repl_history

# Output of 'npm pack'
/jobhunter-client/*.tgz

# Yarn Integrity file
/jobhunter-client/.yarn-integrity

# dotenv environment variables file
/jobhunter-client/.env
/jobhunter-client/.env.test
/jobhunter-client/.env*.local

# parcel-bundler cache (https://parceljs.org/)
/jobhunter-client/.cache
/jobhunter-client/.parcel-cache

# Next.js build output
/jobhunter-client/.next

# Nuxt.js build / generate output
/jobhunter-client/.nuxt
/jobhunter-client/dist

# Storybook build outputs
/jobhunter-client/.out
/jobhunter-client/.storybook-out
/jobhunter-client/storybook-static

# rollup.js default build output
/jobhunter-client/dist/

# Gatsby files
/jobhunter-client/.cache/
# Comment in the public line in if your project uses Gatsby and not Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# vuepress build output
/jobhunter-client/.vuepress/dist

# Serverless directories
/jobhunter-client/.serverless/

# FuseBox cache
/jobhunter-client/.fusebox/

# DynamoDB Local files
/jobhunter-client/.dynamodb/

# TernJS port file
/jobhunter-client/.tern-port

# Stores VSCode versions used for testing VSCode extensions
/jobhunter-client/.vscode-test

# Temporary folders
/jobhunter-client/tmp/
/jobhunter-client/temp/

### react ###
/jobhunter-client/.DS_*
/jobhunter-client/**/*.backup.*
/jobhunter-client/**/*.back.*

/jobhunter-client/node_modules

/jobhunter-client/*.sublime*

/jobhunter-client/psd
/jobhunter-client/thumb
/jobhunter-client/sketch

# End of https://www.toptal.com/developers/gitignore/api/react,node